* {
  font-family: "VT323", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background: linear-gradient(to right, #363062, #435585);
}

.app {
  display: flex;
  width: 320px;
  max-width: 100%;
  height: 500px;
  margin: 50px auto;
  background-color: #333;
  padding: 20px;
  border-radius: 15px;
  border: 3px solid #164863;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  justify-content: space-between;
}

.header {
  font-family: "VT323", monospace;
  color: #ddbf99;
  margin-bottom: 10px;
  font-size: 24px;
  text-align: center;
}

.screen {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100px;
  background-color: #776b5d;
  border-radius: 10px;
  margin-bottom: 20px;
}

.display-value {
  padding: 0 10px;
  font-size: 30px;
  color: #fff;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  padding: 10px;
  text-align: center;
}

.grid-item {
  color: white;
  background-color: #b0a695;
  height: 35px;
}

.equal {
  font-size: 24px;
  grid-column: span 3;
  background-color: #776b5d;
  grid-column: 3 / span 2;
  grid-row: 6 / span 1;
}

.ms,
.mc,
.mr,
.m-minus,
.m-plus {
  background-color: #427d9d;
}

.sign,
.square-root,
.percent,
.add,
.subtract,
.divide,
.multiply {
  background-color: #363062;
  height: 35px;
}

/* Miscellaneous */
.ac,
.c {
  background-color: #f5e8c7;
  height: 35px;
  color: black;
}

.ac {
  grid-column: 4 / span 1;
}

.four {
  grid-column: 1 / span 1;
}

.one {
  grid-column: 1 / span 1;
}

.sign {
  grid-row: 3 / span 1;
  grid-column: 4 / span 1;
}

.percent {
  grid-row: 3 / span 1;
  grid-column: 5 / span 1;
}

.square-root {
  grid-row: 4 / span 1;
  grid-column: 4 / span 1;
}

.divide {
  grid-row: 4 / span 1;
  grid-column: 5 / span 1;
}

.multiply {
  grid-row: 5 / span 1;
  grid-column: 4 / span 1;
}

.subtract {
  grid-row: 5 / span 1;
  grid-column: 5 / span 1;
}
.zero {
  grid-column: 1 / span 1;
}

.add {
  grid-column: 5 / span 1;
}

.button:hover {
  background-color: #427d9d;
}
